
@media only screen and (min-width: 769px) and (max-width: 1024px){
	/*body {
		background-color: red;
	}*/
	.container {
		padding: 0px 15px 15px 15px;
	}

	.box {
		flex-basis: 31%;
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px){
	/*body {
		background-color: blue;
	}*/

	.container {
		padding: 0px 15px 15px 15px;
	}

	.box {
		flex-basis: 48%;
	}
}

@media only screen and (min-width: 376px) and (max-width: 426px){
	/*body {
		background-color: green;
	}*/

	.container {
		padding: 0px 15px 15px 15px;
	}

	.box {
		flex-basis: 98%;
	}

	h1 {
		font-size: 24px;
	}

	.box h2 {
		font-size: 22px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 376px){
	/*body {
		background-color: purple;
	}
*/
	.container {
		padding: 0px 15px 15px 15px;
	}

	.box {
		flex-basis: 98%;
	}

	h1 {
		font-size: 24px;
	}

	.box h2 {
		font-size: 22px;
	}
}

@media only screen and (min-width: 0px) and (max-width: 320px){
	body {
		background-color: brown;
	}
}