* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.row {
    width: 1000px;
    margin: auto;
    padding: 15px;
}

.button {
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
}